
footer{
    display: flex;
    flex-direction: column;
    background-color: #AACE9B;
    justify-content: center;
    align-items: center;
}

footer > div{
    padding-top: 30px;
}

footer > div > p{
    text-align: center;
    padding-bottom: 20px;
}

footer > div > a{
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
    color: #fff; 
    padding-left: 20px;
}

footer > div > a:hover{
    font-size: 40px;
    text-decoration: none;  
    color: #F33413; 
}

 