footer{
    display: flex;
    flex-direction: column;
    background-color: #AACE9B;
    justify-content: space-around;
    align-items: center;
}

footer > div:first-child{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 40%;
}

footer > div > p{
    text-align: center;
}

footer > div > a{
    font-size: 40px;
    text-decoration: none;
    color: #fff;
}

footer > div > a:hover{
    font-size: 40px;
    text-decoration: none;
    color: #F33413;
}
