header{
    display: flex;
    height: 100vh;
    background-image: url("../assets/images/landing-desktop-imgs/img/intro-picture.png");
    background-size: cover;
}

h1 {
    display: flex;
    font-size: 40px;
}

#menu-icon{
    display: none;
}

.fa-bars{
    display: none;
}

#head-rectangle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-basis: 400px;
    margin-left: 80px;
    padding-left: 15px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
#head-rectangle > div{
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
}

#head-rectangle p{
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    line-height: 30px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);
}

#head-rectangle h2 {
    font-size: 20px;
}

#line-header{
    height: 2px;
    width: 70%;
    border-top: 2.5px solid #AACE9B;
}

@media (max-width: 480px) {
    #head-rectangle{
        width: 100%;
        margin-left:0;
    }

    #menu-icon{
        display: flex;
        position: fixed;
    }

    .fa-bars{
        padding: 40px;
        font-size: 30px;
        color: #fff;
    }
}

@media (max-width: 1023px) {
    #head-rectangle{
        width: 100%;
        margin-left:0;
    }

    #menu-icon{
        display: flex;
        position: fixed;
    }

    .fa-bars{
        padding: 40px;
        font-size: 30px;
        color: #F33413;
    }
}