main {
    display: flex;
    flex-direction: column;
}

/* Who we are */
#who-we-are{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    text-align: center;
    line-height: 30px;
}

.subtitle{
    padding-top: 2%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.line-subtitle {
    margin-left: 10%;
    margin-top: 1%;
    height: 2px;
    max-width: 80%;
    border-top: 7px solid #D9D9D9;
  }

#who-blue{
    margin-top: 5%;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

#who-green{
    margin-top: 5%;
    font-size: 30px;
    line-height: 35px;
    color:#AACE9B;
}

/* Why Left*/

.why-left{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 10%;
}

.line-why-left{
    max-width: 100%;
    height: 2px;
    border-top: 4px solid #286276;
}

.why-left-text{
    margin-left: 10%;
    flex: 0 1 50%;;
}

.why-left-text > h3{
    font-size: 50px;
}

.why-left-text > p{
    padding-right: 5%;
    padding-top: 60px;
    line-height: 30px;
    font-size: 30px;
}

/* Why Right */

.why-right{
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 10%;
    background-color: #D9D9D9;
}

.line-why-right{
    height: 2px;
    max-width: 100%;
    border-top: 4px solid #fff;
}

.why-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 1 30%;
    min-height: 400px;
}

#why-image-productivity{
    background-image: url("../assets/images/landing-desktop-imgs/img/productivity-boster.png") ;
    background-size: cover;
}

#why-image-traceability{
    background-image: url("../assets/images/landing-desktop-imgs/img/work-traceability.png") ;
    background-size: cover;
}

#why-image-leadership{
    background-image: url("../assets/images/landing-desktop-imgs/img/leadership.png") ;
    background-size: cover;
}

#why-image-decision{
    background-image: url("../assets/images/landing-desktop-imgs/img/decision-making.png") ;
    background-size: cover;
}


.why-right-text{
    flex: 0 1 50%;
}

.why-right-text > h3{
    padding-left: 5%;
    font-size: 50px;
}

.why-right-text > p{
    padding-left: 5%;
    padding-top: 60px;
    line-height: 30px;
    font-size: 30px;
}

/* Functionalities */

#functionalities{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-left: 5%;
}

.functionalities-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 150px;
}

.functionalities-items{
    display: flex;
}

.functionalities-items > i{
    padding: 40px;
    border: black solid 4px;
    font-size: 50px;
}

.functionalities-items:hover > i{
    padding: 40px;
    border: #F33413 solid 4px;
    font-size: 50px;
    color: #F33413;
}

.func-text > h3{
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}

.func-text > p{
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

.func-text{
   padding-left: 20px;
   padding-right: 20px;
}

/* Contact*/

#contact{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

#form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#contact-main-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.box-contact > select:focus{
    border: 2px solid #F33413;
    color: #F33413;
}

.box-contact > input:focus{
    border: 2px solid #F33413;
    outline: #F33413;
    color: #F33413;
}

#contact-container{
    flex-basis: 33%;
}

#name-container{
    flex-basis: 33%;
}

#contact-container{
    padding-top: 13px;
}

.box-contact > select{
    width: 100%;
    min-height: 36px;
}

.box-contact > input{
    width: 100%;
    height: 30px;
}

.box-contact > label{
    font-size: 14px;
    font-weight: 500;
}

.box-contact{
    margin-top: 30px;
}


#box-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 78%;
    padding-top: 70px;
    padding-bottom: 70px;
}

#box-message-text-area{
    justify-content: center;
    align-content: center;
}

#box-message-text-area > label{
    font-size: 14px;
    font-weight: 500;
}

#box-message-text-area > textarea{
    width: 100%;
    justify-content: center;
    min-height: 150px;
}

#buttom-box{
    display: flex;
    justify-content: space-between;
    width: 78%;
}

.buttom-message{
    height: 40px;
    width: 200px;
    background-color: #AACE9B;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    color: #373867;
}

.buttom-message:hover{
    height: 40px;
    width: 200px;
    border: 2px solid #286276;
    border-radius: 7px;
    background-color: #fff;
    font-size: 15px;
    color: #373867;
}

.buttom-x{
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 7px;
    background-color: #F33413;
    font-size: 15px;
    color: #373867;
}

.buttom-x:hover{
    height: 40px;
    width: 120px;
    border: 2px solid #286276;
    border-radius: 7px;
    background-color: #fff;
    font-size: 15px;
    color: #373867;
}

/* Order List */

#list{
    background-image: url("../assets/images/landing-desktop-imgs/img/list-picture.png");
    background-size: cover;
    height: fit-content;
}

#list-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.list-part{
    padding-left: 10%;
}

.list-part:first-child{
    padding-left: 0px;
}

.list-part > ol > li > a{
    text-decoration: none;
    font-size: 12px;
    color: #373867;
}

.list-part > h3{
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #373867;
}

.list-part > h3:hover{
    text-decoration: none;
    font-size: 20px;
    color: #F33413;
}


@media (max-width: 480px) {
    .why-left{
        flex-direction: column;
        padding-right: 5%;
        padding-left: 5%;
    }

    .why-left-text > p{
        padding-right: 0;
    }

    .why-right{
        flex-direction: column-reverse;
        padding-left: 5%;
        padding-right: 5%;
    }

    .why-left-text > p{
        padding-left: 0;
    }

    .why-image{
        margin-top: 20px;
    }

    .functionalities-box{
        flex-direction: column;
        padding-top: 0px;
    }

    .functionalities-items{
        padding-top: 70px;
        padding-left: 5%;
    }

    #contact-main-container{
        flex-direction: column;
        width: 80%;
    }

    #list-box{
        flex-direction: column;
    }
    
    .list-part{
        padding-left:0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .list-part:nth-child(2){
        padding-left: 20px;
    }
    
    .list-part:first-child{
        padding-left: 20px;
    }
  }

@media (max-width: 1023px) {
    .why-left{
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
    }

    .why-left-text > p{
        padding-right: 0;
    }

    .why-right{
        flex-direction: column-reverse;
        padding-left: 10%;
        padding-right: 10%;
    }
    .why-left-text > p{
        padding-left: 0;
    }

    .why-image{
        margin-top: 20px;
    }

    .functionalities-box{
        flex-direction: column;
        padding-top: 0px;
    }

     .functionalities-items{
        padding-top: 70px;
        padding-left: 5%;
    }

    #contact-main-container{
        flex-direction: column;
        width: 80%;
    }
}