main , header , footer{
    width: 90%;
    min-height: 12vh;
    margin-left: 10%;
}
body{
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 480px) {
    main , header , footer{
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 1023px) {
    main , header , footer{
        width: 100%;
        margin-left: 0;
    }
}