main , header{
    width: 1288px;
    margin-left: 152px;
}
body{
    font-family:Arial, Helvetica, sans-serif
}

#sidebar{
    position:fixed;
    width: 152px;
    background-color: white;

}

.logo > a{
    text-decoration: none;
    color:#373867 ;
}

.logo > a > img{
    margin-top: 20px;
}

.logo > a > h3{
    margin-top: 10px;
}



.logo{
    background-color: rgba(55, 56, 103, 0.4);
    display: block;
    height: 160px;
    text-align: center;
}

.sidebar-home{
    margin-bottom: 15px;
}

.sidebar-text{
    display: block;
    padding: 10px;
    width: 100px;
    margin-left: 30px;
    margin-top: 25px;
    text-decoration: none;
    color: #F33413;

}

.sidebar-text > img{
    margin-right: 10px;
}

.sidebar-contact{
    display: block;
    padding: 10px;
    margin-top: 300px;
    color: #F33413;
}

.sidebar-text-contact > img{
    margin-right: 10px;
    margin-top: 30px;
}

.sidebar-contact > h4{
    text-decoration: underline red;
}

header{
    background-image: url("../assets/images/landing-desktop-imgs/img/intro-picture.png");
    background-size: cover;
    height: 982px;
}

#head-rectangle{
    margin-left: 76px;
    background-color: rgba(0, 0, 0, 0.3);
    color: aliceblue;
    background-size: cover;
    width: 481px;
    height: 982px;
}

#head-rectangle > p{
    margin-top: 50px;
}

#who-we-are{     
    height: 800px;
}


#productivity{
    height: 840px;
}

#work{
    height: 840px;
    background-color: #D9D9D9;
}

#leadership{
    height: 840px;

}
#decision{
    height: 840px;
    background-color: #D9D9D9;
}

#functionalities{
    height: 635px;
}

#functionalities-items{
    display: inline-block;
}

#contact{
    height: 665px;
}

#list{
    height: 247px;
    background-image: url("../assets/images/landing-desktop-imgs/img/list-picture.png");
    background-image: cover;
}

footer{
    height: 176px;
    background-color: #AACE9B;
}